<%- include('../partials/header.ejs') -%>
<style>
    img{
        width:20em;
    }
    @media (max-width: 768px){
        img{
            width: 100%;
        }
    }
</style>
<div class="container-fluid">
<header class="jumbotron ">
    <div>
    <h1>Welcome to YelpCamp</h1>
    <p style="text-align: center;">View our hand-picked campgrounds from all over the world</p>
    <p>
    <a href="/campgrounds/new" class="btn btn-primary btn-large">Add New Campground</a>
    </p>
    </div>    
</header>
<div class="container">
    <section class="search-box">
            <form action="/campgrounds" method="GET">
                <div class="search-bar">
                <input  class="search-bar__input" type="text" name="search" placeholder="Search" aria-label="Search">
                <button type="submit" value="Search"  class="search-bar__submit"><i class="fas fa-search"></i></button>  
                </div>    
            </form>
    </section>
</div>
</div>
<div class="container">
<div class="row" style="display:flex; flex-wrap: wrap;">
    <% for(let camp of campground){ %>
        <div class="col-lg-4 col-md-6 my-4">
            <div class="card" style="width: 100%">
                <img class="card-img-top" src ="<%= camp.image %>">
                <div class="card-body">
                    <h4 class="card-title"><%= camp.name %></h4>
                    <a href="/campgrounds/<%= camp._id%>" class="btn btn-primary">More Info</a>
                </div>
                
            </div>
           
        </div>
    <%} %>
</div>

</div>
<%- include('../partials/footer.ejs') -%>