<%- include('../partials/header.ejs') -%>

<div class="container">
    <div class="profile-wrapper">
        <div class="profile-section-user">
            <div class="profile-cover-img"><img src="https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" alt=""></div>
            
            <div class="profile-info-brief p-3"><a href="<%=profile.avatar %>"><img class="img-fluid user-profile-avatar" src="<%= profile.avatar%>" alt=""></a>
                <div class="text-center">
                    <h5 class="text-uppercase mb-4"><%=profile.username%></h5>
                    <p class="text-muted fz-base"><%=profile.about%></p>
                </div>
            </div>
            <!-- /.profile-info-brief -->
            <hr class="m-0">
            <div class="hidden-sm-down">
                <hr class="m-0">
                <div class="profile-info-contact p-4">
                    <h6 class="mb-3">General Information</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><strong>First Name:</strong></td>
                                <td>
                                    <p class="text-muted mb-0"><%= profile.firstName%></p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Last Name:</strong></td>
                                <td>
                                    <p class="text-muted mb-0"><%= profile.lastName%></p>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>EMAIL:</strong></td>
                                <td>
                                    <p class="text-muted mb-0"><%=profile.email%></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="m-0">
            </div>
        </div>
        <div class="profile-section-main">
            <ul class="nav nav-tabs profile-tabs" role="tablist" id="myTab">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#userprofile" role="tab">Campgrounds</a></li>
                <%if(currentUser && currentUser._id.equals(profile._id) && currentUser.isAdmin){%>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#users" role="tab">Users</a></li>
                <%}%>
            </ul>
            <div class="tab-content profile-tabs-content">
                    <!-- /.post-editor -->
                    <div class="tab-pane active" id="userprofile">
                    <%for(var campground of campgrounds){%>
                    <div class="stream-posts">
                        <div class="stream-post">
                            <div class="sp-author">
                                <a href="/campgrounds/<%=campground._id%>" class="sp-author-avatar"><img src="<%=campground.image%>" alt=""></a>
                                <h6 class="sp-author-name"><a href="/campgrounds/<%=campground._id%>"><%=campground.name %></a></h6></div>
                            <div class="sp-content">
                                <div class="sp-info">posted <%= moment(campground.createdAt).fromNow()%></div>
                                <p class="sp-paragraph mb-0"><%= campground.description.substring(0,105)%> .....</p>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
                <% if(currentUser && currentUser._id.equals(profile._id) && currentUser.isAdmin) {%>
                <div class="tab-pane" id="users">
                    <%for(var user of users){ if(!user.isAdmin){%>
                        <div class="stream-posts">
                            <div class="stream-post">
                                <div class="sp-author">
                                    <a href="/users/<%=user._id%>" class="sp-author-avatar"><img src="<%=user.avatar%>" alt=""></a>
                                    <h6 class="sp-author-name"><a href="/users/<%=user._id%>"><%=user.username %></a></h6></div>
                                <div class="sp-content">
                    
                                    <p class="sp-paragraph mb-0 d-flex justify-content-end align-items-end">
                                        <p><%= user.about.substring(0,100)%></p>
                                        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
                                            <input class="btn btn-md btn-danger" type="submit" value="DELETE">
                                          </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <%}}%>
                </div>
                <%}%>
                </div>
                
            </div>
        </div>
 
    </div>

<%- include('../partials/footer.ejs') -%>
